.body{
    padding:1.2%;
}

.box{
    border-style:solid;
    border-width: 1px;
    border-radius:0.25rem;
    border-color:#ced4da;
    padding:10px;
    margin-bottom:10px;   
}

.postsection{
    display:flex;
}

.user{
    margin-right:1rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.postitem{
    cursor:pointer;
    margin-right:1rem;
}

p{
    margin-right:1rem;
}