{% extends "auctions/layout.html" %} 
{% block body %}
<h2>{{listing}}</h2>
<img src="{{listing.img}}">
<p>Category: {{listing.category}}</p>
<p>Description: {{listing.description}}</p>
<p>Current price: {{listing.current_price}}</p>
<p>Seller: {{listing.user_id}}</p>
<p>Date Listed: {{listing.created}}</p>
{% if user.is_authenticated %}
    {% if isListingInWatchList %} 
        <form action="{% url 'removeWatchList' id=listing.listing_id %}",method="post">
            {% csrf_token %}
            <button type="submit">Remove from Watchlist</button>
        </form>
    {% else %} 
    <form action="{% url 'addWatchList' id=listing.listing_id %}",method="post">
        {% csrf_token %}
        <button type="submit">Add to Watchlist</button>
    </form>
    {% endif %} 

<form>
    <input type="text">
    <button>Place bid</button>
</form>
{% endif %}
{% endblock %}