{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h4>Follower posts</h4>
    {% if following %}
        {% for follow in following %}
            <div class="box">
                <div class="postsection">
                    <a class="user" href="{% url 'profile' name=follow.username.username %}">{{follow.username}}</a>
                    <p>on {{follow.date}}</p>
                </div>
                <h4>{{follow.post}}</h4>
                <div class="postsection">
                {% if user.is_authenticated %}
                    {% if follow.id in likedposts %}
                        <img class="likeicon" data-post="{{follow.id}}" id="{{follow.id}}" onclick = "likehandler({{follow.id}},{{likedposts}})" src="{% static 'network/liked.svg' %}"/>
                    {% else %}
                        <img class="likeicon" data-post="{{follow.id}}" id = "{{follow.id}}" onclick="likehandler({{follow.id}},{{likedposts}})" src="{% static 'network/like.svg' %}"/>
                    {% endif %}
                {% endif %}
                <p id="{{follow.id}}-likes">{{follow.likes}}</p> <p>likes</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h4>No posts from followers</h4>
    {% endif %}
{% endblock %}