{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <form action="{% url 'newpost' %}" method="post">
            {% csrf_token %}
            <div class ="box">
                <h3>New post</h2>
                <div class="form-group">
                    <textarea class="form-control" name="post"></textarea>    
                </div>
                <input type="submit" class="btn btn-primary" value="Post"></input>
            </div>

        </form>
    {% endif %}
    {% if posts %}
        {% for post in posts %}
        <div class="box">
            <div class="postsection">
                {% if request.user.username == post.username.username %}
                    <a class="user" href="{% url 'profile' name=post.username.username %}">{{post.username}}(You)<a>
                {% else %}
                    <a class="user" href="{% url 'profile' name=post.username.username %}">{{post.username}}<a>
                {% endif %}
                <p>on {{post.date}}</p>
            </div>
            <h4>{{post.post}}</h4>
            <div class="postsection">
                <a>
                    <span id="{{post.id}}" class="material-symbols-outlined likebtn">Favorite</span>
                </a>
                <p>{{post.likes}} likes</p>
                {% if request.user.username == post.username.username %}
                    <a class="postitem" href="">Edit</a>
                    <a class="postitem" href="">Delete</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    {% else %}
    <div class="box">
        <h4>{{message}}</h4>
    </div>
        {% if not user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'login' %}">Log in </a>
            <a class="btn btn-primary" href="{% url 'register' %}">Register</a>
        {% endif %}
    {% endif %}


{% endblock %}