{% extends "network/layout.html" %}

{% block body %}
    <div class="box">
        {% if request.user.username == profile_user.username %}
            <h3>My profile</h3>
        {% else %}
            <h3>{{profile_user.username}}'s profile</h3>
        {% endif %}
        <div class="horizontal-box">
        {% if user.is_authenticated %}
            {% if request.user.username != profile_user.username %}

            {% if not isfollowing %}
            <form action="{% url 'follow' id=profile_user.id %}",method="post">
                {% csrf_token %}
                <input type="submit" id="follow" class="btn btn-primary" value="Follow">
            </form>
            {% else %}
            <form action="{% url 'unfollow' id=profile_user.id %}",method="post">
                {% csrf_token %}
                <input type="submit" id="unfollow" class="btn btn-primary" value="Unfollow">
            </form>
            {% endif %}

            {% endif %}
        {% endif %}
            <div class="count">
                <h5><a href="">{{followers_count}} Followers</a></h5>
                <h5><a href="">Following {{following_count}}</a></h5> 
            </div>
        </div>
    </div>
        <h3>Posts</h3>
        {% if posts %} 
            {% for post in posts %}
                <div class="box">
                    <p>{{post.username}} on {{post.date}}</p>
                    <h4>{{post.post}}</h4>
                    <div class="postsection">
                        <a>
                            <span id="{{post.id}}" class="material-symbols-outlined likebtn">Favorite</span>
                        </a>
                        <p>{{post.likes}}</p><p>likes</p>
                        {% if request.user.username == post.username.username %}
                            <a class="postitem" href="">Edit</a>
                            <a class ="postitem" href="">Delete</a>
                        {% endif %}
                    </div>
                </div>

            {% endfor %}
        {% else %}
            <h4>{{message}}<h4>
        {% endif %}
    
{% endblock %}
